<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    
</head>
<body>
	<div th:insert="fragments/commonui :: userhead"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	
	<!--<div class="container">-->
		
	<div class="card">
		
		 <div class="card-header bg-primary text-white text-center">
				 <h3>UOM DATA PAGE</h3> 
		 </div> <!--card header end-->
		 
		  <div class="card-body">
			  <a th:href="@{/uom/excel}" class="btn btn-warning">EXCEL EXPORT</a> |
			  <a th:href="@{/uom/pdf}" class="btn btn-warning">PDF EXPORT</a>
			  <hr/>
			  
			  <form action="all" method="get">
				  <div class="row">
					  <div class="col-4">
						  <input type="text" name="uomModel" class="form-control" placeholder="Enter Uom Model"/>
					  </div>
					  <div>
						  <input type="submit" value="Search" class="btn btn-info" />
					  </div>
				  </div>
			  </form>
			  <hr/>
			  
			<table class="table table-hover">
				<tr class="bg-success text-white">
					<th>ID</th>
					<th>TYPE</th>
					<th>MODEL</th>
					<th>DESCRIPTION</th>
					<th>OPERATION</th>
				</tr>
				<tr th:each="ob:${list}">
					<td th:text="${ob.id}"></td>
					<td th:text="${ob.uomType}"></td>
					<td th:text="${ob.uomModel}"></td>
					<td th:text="${ob.description}"></td>
					<td>
						<a class="btn btn-danger"  th:href="@{/uom/delete?id={data} (data=${ob.id})}">DELETE</a> |
						<a class="btn btn-info" th:href="@{/uom/edit?id={data} (data=${ob.id})}">EDIT</a>
					</td>
				</tr>
			</table>
		  </div> <!--card body end-->
		  
		   <div class="card-footer bg-warning text-white text-center"  th:if="${message != null}">
				 <span  th:text="${message}" ></span>
			 </div> <!--card footer end-->
		  
	</div>	<!--card end-->
	
	<!--PAGINATION START-->
	
	<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
	  
    <li th:if="${page.hasPrevious()}" class="page-item">
		<a class="page-link" th:href="@{/uom/all(page=${page.number-1})}">
			Previous
			</a></li>
		 
    <th:block th:each="i,ac:${#numbers.sequence(0,page.totalPages-1)}"> 
    <li th:class="${ac.index == page.number ? 'page-item active' : 'page-item'}">
		
		<a class="page-link" 
		     th:href="@{/uom/all(page=${i})}">[[${i+1}]]</a></li>
    </th:block>
    
    <li th:if="${page.hasNext()}" class="page-item">
		<a class="page-link" th:href="@{/uom/all(page=${page.number+1})}">
			Next
			</a></li>
  </ul>
</nav>
	
	
	<!--PAGINATION END-->
		
<!--</div> --> <!--continer end-->
</body>
</html>